@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Css Base for this project */
@layer base {
  body {
    @apply text-sm md:text-base;
  }
  h1 {
    @apply my-6 font-sans leading-tight tracking-normal text-2xl font-bold md:text-3xl;
  }
  h2 {
    @apply text-xl font-bold md:text-2xl my-4;
  }
  h3 {
    @apply text-lg font-bold md:text-xl my-2;
  }
  h4,
  h5,
  h6 {
    @apply my-1;
  }
  p {
    @apply text-base my-1;
  }

  article h2 {
    @apply text-blue-900;
  }
  article h3 {
    @apply text-blue-800;
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .skillBarContainer {
    @apply mx-2 rounded-2xl bg-gray-300 shadow-sm transition duration-500 ease-out hover:translate-y-1;
  }
  .skillBar {
    @apply flex flex-row items-center justify-between  rounded-l-2xl px-4 py-2 text-white text-xs;
  }

  .btn-hero {
    @apply flex justify-center items-center gap-2 px-8 py-2 md:px-12 md:py-4 border font-montserrat md:text-lg md:font-semibold leading-none rounded-full border-coral-red;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .container-p {
    @apply px-2 sm:px-4 md:px-8 lg:px-12;
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-12 px-2;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

.box-shadow {
  @media screen and (min-width: 1024px) {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
      0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
