/* nice bootstrap ready facebook share button http://justincron.com */

.btn-facebook {
  color: #fff;
  background-color: #4c67a1;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #405d9b;
}
.btn-facebook:focus {
  color: #fff;
}
